<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<blueprint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  xsi:schemaLocation="
    http://www.osgi.org/xmlns/blueprint/v1.0.0
    http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
    destroy-method="close">
    <property name="url" value="jdbc:mysql://localhost:3306/library" />
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="username" value="test" />
    <property name="password" value="123456" />
  </bean>

  <service ref="dataSource" interface="javax.sql.DataSource" />

  <bean id="authorDao" class="org.jfu.test.jooq.impl.AuthorDaoImpl">
    <argument ref="dataSource" />
    <property name="logService" ref="logService" />
  </bean>

  <service ref="authorDao" interface="org.jfu.test.jooq.api.AuthorDao" />

  <reference id="logService" interface="org.osgi.service.log.LogService">
    <reference-listener bind-method="setLogService"
      unbind-method="removeLogService" ref="authorDao" />
  </reference>

</blueprint>

